# Ignore node_modules directory
/node_modules

# Ignore environment-specific files
.env
.env.*
config/

# Ignore development tools and configuration files
.vscode/
.editorconfig
.eslintignore
.eslintrc
.gitattributes
